
/*grijs #899CA0 en donkergroen #1C2B32*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
h1{
    margin-top:20px;
    color:  #1C2B32;
    font-size: 100px;
    text-align: center;
}
h2{
    color:  #1C2B32;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: -5%;
}

h3{
    color:  #1C2B32;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

h4{
    color:  #1C2B32;
    text-align: left;
    font-size: 13px;
    font-weight: 400;

}
h5{
    font-size: 10px;
    font-weight: 100;

}

h6{
    font-size: 10px;
    font-weight: 100;
    margin-top: -5%;
    margin-left: -250px;

}

p{
font-size: 9px;

}



.div-beschikbaarheid{
    margin-left: 237px;
    width: 1000px;
    height: 600px;
    background-image: url('../assets/images/mountains.jpg');
    background-size: cover;
}

.form {
    margin-left: 237px;
    margin-top:2%;
    height: 50px;
    width: 50%;
    display: flex;
    border: 2px solid #1C2B32;
    padding: 2px;
    border-radius: 50px;

}

.zoek-knop{
        flex: 1px;
        border: none;
        font-size: 16px;
        color: white;
        background-color: #1C2B32;
        height: 55px;
        right:10px;
        margin-top: -3px;
        margin-right: -3px;
        border-radius: 0 30px 30px 0;
}

.invoerveld2 {
    color: #1C2B32;
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    font-size: 16px;
    text-align: left;
    background-color: transparent;
}

.main{
    width: 1000px;
    height: 1000px;
    margin-top: -20px;
    margin-left: 237px;
}

.callcenter-image{
    margin-top: 30px;
    width: 100%;
}

a {
    color: #899CA0;
}

a:hover{
    text-decoration: none;
}

.contact-knop{
    border-radius: 30px 30px 30px 30px;
    background-color: #1C2B32;
    width: 120px;
    color: white;
    height: 50px;
    border-color: transparent;

}
.contact-knop:hover{
    cursor: pointer;
}

.faq{
    width: 1000px;
    height: 450px;
    margin-left: 237px;
    margin-top: 300px;
}

.faq1{
    width: 75%;
    height:150px ;

    vertical-align: center;
    font-size: 15px;
    text-align: center;
    background-color: #899CA0;
    color: white;
    border-radius: 10px 10px 10px 10px;

}

.faq2{
    width: 75%;
    height:150px;

    vertical-align: center;
    font-size: 15px;
    text-align: center;
    background-color: #899CA0;
    color: white;
    border-radius: 10px 10px 10px 10px;

}

.faq3{
    width: 75%;
    height:150px ;

    vertical-align: center;
    font-size: 15px;
    text-align: center;
    background-color: #899CA0;
    color: white;
    border-radius: 10px 10px 10px 10px;

}

.faq4{
    width: 75%;
    height:150px ;

    vertical-align: center;
    font-size: 15px;
    text-align: center;
    background-color: #899CA0;
    color: white;
    border-radius: 10px 10px 10px 10px;

}

.faq5{
    width: 75%;
    height:150px ;

    vertical-align: center;
    font-size: 15px;
    text-align: center;
    background-color: #899CA0;
    color: white;
    border-radius: 10px 10px 10px 10px;

}

details:hover{
    cursor: pointer;

}
.details{
    margin-top: 40px;
}

.review1 {
    flex-direction: column;
    margin-left: 115px;
    width: 75%;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.review2{
        margin-left: 115px;
        width: 75%;
        height: 200px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    margin-top: 100px;
    flex-direction: column;

}

.reviewer1{
    width: 100%;
    height: 30px;

}

.img-jane{
    width: 44px;
    height: 44px;
    margin-left: -500px;
    margin-top: -5px;
}

.img-john{
     width: 44px;
     height: 44px;
     margin-left: -500px;
     margin-top: -5px;
 }

.quote{
    position: absolute;
    margin-top: -60px;
    margin-left: -590px;


}

.copyright{
    margin-left: 60px ;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    width: 900px;
    height: 60px;
    background-color: #1C2B32;
    color: white;
}